
<div class="container text-center">
    <a href="/scrape">
    <button id="scrape" class="btn-lg btn-primary">Scrape!</button>
    </a>
    {{#each articles}}
    <div class="row">
        <div class="col-12">
            <p class="h4">{{title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href={{link}} target="_blank">{{link}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn-lg btn-success createNote" _id={{_id}}>Create Note/Update Note</button>
        </div>
        <div class="col-6">
            <button class="btn-lg btn-danger deleteNote" _id={{_id}}>Delete Note</button>
        </div>
    </div>
    {{/each}}
</div>
<script src="/assets/js/index.js"></script>